
@charset "utf-8";

/* -------------------------------------------------------------- 
	Resets default browser CSS.
-------------------------------------------------------------- */
html,body,
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input
{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:"microsoft yahei";vertical-align:baseline;}
table, caption, tbody, tfoot, thead, tr, th, td
{margin:0;padding:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
input {border:none;}
ul{list-style:none;}
label{/*cursor:pointer;*/color:#666;}

body {font-size:75%;color:#222;background:#fff;font-family:Helvetica, Arial,"microsoft yahei", sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;color:#000;}

h1 {font-size:36px;font-family:"microsoft yahei", sans-serif;}
h2 {font-size:45px;float:left;color:#CCC;margin-top:10px;font-weight:normal;}
h3 {font-size:16px;margin:8px 0;margin:8px 0 7px\0;color:#000;}
h4 {font-size:14px;margin:8px 0;color:#666;}
h5 {font-size:12px;margin:8px 0;color:#666;}
h6 {font-size:12px;margin:8px 0;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {color:#666;}
a:focus, a:hover {text-decoration:underline;}
a {
font-family:"microsoft yahei";
color:#666;
text-decoration:none;
cursor:pointer;
}
span{color:#666;font-family:"microsoft yahei"}
textarea{overflow:hidden;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}

input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}





input.text, input.title, textarea, select {margin:0 0;border:1px solid #dedede;font-size:12px;color:#666;font-family: Helvetica,Arial,"����",sans-serif;}
select{width:120px;float:left;padding:2px;height:25px;line-height:25px;}


/*-------------------------- 2013-01-12 ������ʽΪ��׼�泣����ʽ maqt ��ʼ -------------------------*/

/*--------------------base  css maqt start-------------------*/
.right{float:right !important;}
.row {float:left; width:100%;}
.left{float:left !important;}
.clear{clear:both;}
.overflow_hidden{overflow:hidden;clear:both;}
.display_block{display:block;}
.postion_relative{position: relative;}
.cursor_pointer{cursor: pointer!important;}
.bg_image_none{background-image: none !important;}
.text_overflow{overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}

.border_bottom{border-bottom:solid 1px #DEDEDE;}
.border_bottom_dash{border-bottom:dashed 1px #DEDEDE;}
.border_top{border-top:solid 1px #DEDEDE;}
.noborder{border:none !important;}
.border_top_none{border-top: none !important;}
.border_bottom_none{border-bottom: none !important;}

.margin_left_none{margin-left:0 !important;}
.margin_right_none{margin-right:0 !important;}
.margin_bottom_none{margin-bottom:0 !important;}
.margin_top_none{margin-top:0 !important;}
.margin_top_20{margin-top:20px !important;}
.padding_bottom_none{padding-bottom:0 !important;}


.graybold {font-weight:bold;}
.black{color:#000 !important;}
.blackbold {font-weight:bold;color:#000 !important;}
.black_333{color:#333333!important;}
.gray_666{color:#666666!important;}
.lightgray{color:#999 !important;}
.lightgray *{color:#999;}
.lightgray_ccc{color: #ccc;}


a.highlight, .highlight, .highlight a,a.blue{font-weight:normal;}
a.highlightheader{font-weight:bold;font-size:14px;}
a.bluebold, .bluebold ,a.navbar_titer{font-weight:bold;}


span.red {color:red;}
.script_red{color: #ff0000 !important;}
.orange{color:#f17842!important;}


.green{font-weight:normal;color:#390 !important;}
.greenbold{color:#390;font-weight:bold;}

/*--------------------base css   maqt  end-------------------*/


/*--------------------templet.css maqt start------------------*/

/*----- 3.������ɫ ��ʼ -------*/
body{
background: url(../image/container_01.jpg) #f6f6f6 no-repeat center 0;
}
a.highlight, .highlight, .highlight a{color:#09C !important;}
a.highlightheader{color:#09C;}
a.blue{color:#09C;}
a.bluebold, .bluebold ,a.navbar_titer{color:#09C;}
.dark_blue{color: #00607f !important;}
/*------- 3.������ɫ ����----------*/

/*--------------------templet.css maqt end-----------------*/
/*------------内容页头部 开始---------------*/
.header_01{
width: 100%;
min-width: 1000px;
height: 70px;
position: relative;
z-index: 100;
background:rgba(255,255,255,0.9);
border-bottom: 1px solid #dedede;
}
.header_01_space{
width: 960px;
height: 80px;
margin: 0 auto;
}
.header_01_logo{
float: left;
height: 70px;
margin: 0 0 0 4px;
}
.loginpage_head_line {
float: left;
border-left: 1px solid #c8c9cb;
width: 12px;
height: 34px;
margin: 17px 0 0 20px;
}
.loginpage_head_txt {
float: left;
height: 40px;
line-height: 40px;
margin: 15px 0 0 14px;
color: #333333;
font-family:"microsoft yahei";
font-size: 18px;
}
.header_01_help,.header_01_mobile{
float: right;
height: 21px;
line-height: 21px;
padding: 0 0 0 22px;
margin: 29px 12px 0 0;
color: #666;
font-family: "microsoft yahei";
font-size: 14px;
cursor: pointer;
}
.header_01_help {
background: url(../image/question_mark_icon.png) no-repeat 0 2px transparent;

}
.header_01_mobile {
background: url(../image/phone_icon.png) no-repeat  0 1px rgba(0, 0, 0, 0);
background-repeat:no-repeat;
padding-left: 23px;
position:relative;
z-index:10;
}

.trangle_box{
	position:absolute;
	top:41px;
	left:-42px;
	border:1px solid #c4c8cb;
	width:141px;
	padding:18px 16px;
	background-color:#fff;
	text-align:center;
	box-shadow:0px 1px 1px 2px rgba(0,0,0,0.1);
	z-index:11;
}
.trangle_box img{
	height:142px;
	width:142px;
	margin-bottom: 12px;
}
.trangle_box span{
	font-size: 14px;
	color:#333;
}
.trangle{
	width:11px;
	background:url(../image/trangle.png);
	height: 7px;
	position:absolute;
	top:-7px;
	left:82px;

}
.header_visit_count{
float: right;
height: 20px;
line-height: 20px;
margin: 37px 14px 0 0;
color: #999;
}
.herder_btn_line{
	float: right;
	height:18px;
	width:1px;
	background-color: #c4c6c4;
	margin:32px 15px 0 3px;
}
/*------------内容页头部 结束---------------*/
/*------------脚部 开始--------------*/
#footer {
width: 100%;
height: 38px;
clear: both;
overflow: hidden;
padding: 18px 0 0;
background-color: #fff;
}
.footer_inside{
	width:calc(100% - 240px);
	margin:0 auto;
}
.footer_bar{
	float:left;
	margin-top:3px;
	width:500px;
	}
.footer_line{
	float:left;
	margin:0 10px 0 10px;
	line-height:18px;
	*line-height:16px;
	}
/*------------脚部 结束--------------*/
.container_02{
width: 958px;
border: 1px solid #dedede;
margin: 20px auto 0;
overflow: hidden;
clear: both;
}
.title_a_5{
float: left;
background: url(../image/title_a_5_bg.png) scroll repeat 0 0 transparent;
width: 958px;
height: 52px;
border-bottom: 1px dashed #dedede;
}
.title_a_5 .title_1_5_icon{
float: left;
width: 30px;
height: 30px;
margin: 11px 0 0 18px;
}
.title_a_5 .title_1_5_name{
float: left;
height: 30px;
line-height: 30px;
font-family: "microsoft yahei";
font-size: 16px;
margin: 11px 0 0 7px;
}
.container_02_cotent{
float: left;
background-color: #fff;
width: 958px;
min-height: 460px;
}
.c02_cotent_left{
float: left;
width: 698px;
margin: 0 0 0 10px;
padding-bottom: 40px;
}
.input_btn_4{
float:left;
background: url(../image/remind_btn.png) scroll no-repeat 0 0 transparent;
width:68px;
height:28px;

line-height:28px;
color:#fff;
font-size:14px;
line-height:29px;
cursor:pointer;

padding-bottom:2px;
}
.input_btn_13{
float:left;
background: url(../image/inpu_btn_13.png) scroll no-repeat 0 0 transparent;
width:81px;
height:28px;
line-height:28px;
color:#fff;
font-size:14px;
line-height:29px;
cursor:pointer;
padding-bottom:2px;
}
/* 登录页 开始 */
.header_02_space{
width: calc(100% - 240px);
height: 70px;
margin: 0 auto;
}
.mid_container{
width: 100%;
min-width: 1000px;
height: 514px;
margin: 0 0 5px;
border:2px solid #a3a2a2;
border-left:0;
border-right:0;
}

.login_space{
width: 100%;
height: 373px;
margin: 0 auto;
border-bottom: 1px solid #d5d5d5;
}
.container_space{
width: 1000px;
height: 560px;
margin: 0 auto;
}
.content_login_box{
float: right;
width: 336px;
height: 373px;
background: url(../image/login_box_bg.png) repeat;
overflow: hidden;
margin-right:83px;
}
.login_space_content{
	width: calc(100% - 240px);
	margin: 0 auto;
}
.login_box_title{
float: left;
width: 255px;
margin: 14px 0 0 30px;
}
.login_box_title_name{
float: left;
font-family: "microsoft yahei";
font-size: 20px;
color:#fff;
}

.login_box_title_notice {
float: left;
margin: 2px 0 0 12px;
width: 184px;
}
.login_box_input{
float: left;
width: 256px;
height: 42px;
line-height: 42px;
padding: 0 10px;
border: 1px solid #dedede;
margin: 14px 0 0 30px;
color: #999;
border-radius:10px;
}
.down_link_choice{
float: left;
width: 256px;
margin: 12px 0 0 40px;
}
.login_box_checkbox{
float: left;
margin: 3px 6px 0 1px;
*margin-top: -2px;
}
.login_box_checkbox_label{
float: left;
height: 18px;
line-height: 18px;
color: #fff;
}
.login_box_sepline{
float: left;
height: 18px;
line-height: 18px;
*line-height: 14px;
_line-height: 14px;
color: #999;
margin: 0 8px;
}
.login_box_psd{
float: left;
height: 18px;
line-height: 18px;
color: #09c;
}
.login_box_landing_btn{
float: left;
background: transparent;
width: 157px;
height: 40px;
cursor: pointer;
}
.login_box_down{
float: left;
background: url(../image/login_box_down_bg.png) scroll repeat-x 0 0 transparent;
width: 295px;
}
.ide_code{
float: left;
width: 265px;
margin: 16px 0 0 21px;
_margin-left: 11px;
}
.ide_code_label{
float: left;
width: 48px;
height: 28px;
line-height: 28px;
text-align: right;
color: #999;
}
.ide_code_input{
float: left;
width: 54px;
height: 26px;
line-height: 26px;
border: 1px solid #dedede;
padding: 0 5px;
}
.ide_code_image{
float: left;
width: 74px;
height: 26px;
border: 1px solid #dedede;
margin: 0 0 0 8px;
}
.ide_code_next{
float: left;
height: 18px;
line-height: 18px;
color: #09c;
margin: 4px 0 0 8px;
white-space: nowrap;
}
.login_box_notice{
float: left;
line-height: 22px;
height: 22px;
padding: 0 10px;
background-color: #b9233a;
border-radius:5px;
color:#fff;
margin:18px 0 0 30px;
}
/* 登录页 结束 */
.footer_link{
	float:left;
	line-height:18px;
	line-height:*16px;
	margin-right: 20px;
	color:#000;
	}
/*登陆页tab*/
.login_box_tab {
	height:41px;
	width:100%;
	}

.login_tab_01,.login_tab_02 {
	float:left;
	height:41px;
	width:50%;
	display:block;
	box-sizing:border-box;
	background-color:#f5f5f5;
	border-bottom:1px solid #dedede;
	text-decoration: none !important;
	font-size:14px;
	font-family: "Microsoft YaHei";
	font-weight:bold;
	text-align:center;
	line-height:40px;
	color:#666;
	}
.login_tab_02 {
	border-left:1px solid #dedede;
	}
.login_checked {
	background: none;
	border-bottom:none;
	}
/*****华中大按钮******/
.landing_btn_bg{
float: left;
background-image:none;
background-color:#004ea2;
width: 278px;
height: 38px;
cursor: pointer;
font-family:"Microsoft YaHei";
font-size:16px;
border-radius:10px;
margin: 16px 0 0 30px;
color:#fff;
text-align:center;
position:relative;
line-height:36px;
}
.login_box_landing_btn{
float: left;
background: transparent;
width: 255px;
height: 38px;
cursor: pointer;
font-family:"Microsoft YaHei";
font-size:18px;
border-radius:6px;
position:absolute;
left:0px;
top:0px;

}


/*门户特性*/
.feature_bar{
	width: 100%;
	height: 296px;
	background-color: #fff;
	padding-bottom: 4px;
}
.feature_bar_content{

	width: 1007px;
	margin:0 auto;
	height: 296px;
}
.feature_title{
	float: left;
	width: 100%;
	font-size: 21px;
	line-height: 74px;
	color:#000;
}
.feature_section_bar{
	float: left;
	width: 100%;
}
.feature_section{
	float: left;
	width: 155px;
	height: 162px;
	border-radius: 10px;
	margin:0 5px 0 0;
	padding:21px 25px 0;
}
.feature_section img{
	float: left;
	width: 57px;
	height: 56px;
}
.feature_section span{
	float: left;
	margin:17px 0 0 19px;
	font-size: 14px;
	font-weight: bold;
	color:#000;
	white-space: nowrap;
}
.feature_section p{
	width: 100%;
	word-break:break-all;
	word-wrap:break-word;
	float: left;
	line-height: 19px;
	margin-top: 12px;
}
.gray_bg{
	background-color: #f6f6f6;
}

.apps_section_bar{
	position: relative;
	float: left;
	width:100%;
	overflow: hidden;
}
.apps_bar{
	background-color: #fff;
	width: 100%;
	min-height: 250px;
	overflow:hidden;
}
.apps_section_content{
	margin:0 auto;
	width: calc(100% - 240px);
}
.apps_section{
	float: left;
	width: calc((100% - 6px) / 5);
	padding:0 30px;
	margin:0 0 0 0;
	text-align:center;
	box-sizing:border-box;
	height:238px;
}
.blue_icon{
	background:url(../image/icon_blue_bg.png) no-repeat center 0;
}
.orange_icon{
	background:url(../image/icon_orange_bg.png) no-repeat center 0;
}
.apps_section_line{

	float: left;
	height:174px;
	border-right: 1px solid #eee;
}
.apps_section_icon{
	width:100%;
	display:block;
	padding-top: 12px;
	height:80px;
	text-align:center;
}
.apps_section_icon img{
	
	width: 70px;
	height: 70px;
}

.apps_section_link{
	float: left;
	width: 100%;
	text-align: center;
	line-height: 18px;
	font-size: 14px;
	margin-top: 13px;
	color:#333;
	font-weight:bold;
	font-family:"microsoft yahei";
}
.apps_section_describe{
	width:100%;
	word-break:break-all;
	word-wrap:break-word;
	text-align:left;
	margin-top: 4px;
	float: left;
}
.apps_arrow_left,.apps_arrow_right{
	position: absolute;
	width: 17px;
	height: 39px;
	top:17px;
}
.apps_arrow_left{
	left:-11px;
	background: url(../image/apps_arrow_left.png) no-repeat 0 0;
}
.apps_arrow_right{
	right: 29px;
	background: url(../image/apps_arrow_right.png) no-repeat 0 0;
}
.link_bar{
	width: 100%;
	min-height: 192px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #d5d5d5;
	background: url(../image/link_bar_bg.png) right 0 no-repeat;
}
.link_bar_content{
	margin:0 auto;
	width: calc(100% - 240px);
}
.link_box_left{
	float: left;
	margin-top: 25px;
	min-height:122px;
	width:calc(100% - 490px);
	border-right: 1px solid #dedede;
}
.link_box_right{
	float: right;
	height:122px;
	width:489px;
	margin-top: 25px;
	background:url(../image/code_01.png) no-repeat 30px 6px;
}
.link_box_middle{
	float: left;
	margin-top: 25px;
	padding:0 30px 0 29px;
	border-right: 1px solid #dedede;
}
.link_title_bar{
	float: left;
	width: 100%;
}
.link_title_bar .link_title{
	font-size: 24px;
	color:#000;
	width: 100%;
	display: block;
}
.link_title_bar font{
	font-size: 14px;
	color:#afafaf;
	width: 100%;
	display: block;
}
.friend_links_bar{
	float: left;
	width: calc((100% - 60.01px) / 3);
	margin-top: 12px;
	border-right:1px dashed #dedede;
	margin-right:30px;
	box-sizing:border-box;
}
.friend_links_bar:nth-child(3n){
	margin-right:0;
	border-right:0;
}
.friend_links_bar font{
	color:#004f9a;
	font-size: 14px;
	line-height: 20px;
	display: block;
	margin-top: 8px;
}
.friend_links_bar a{
	color:#999999;
	font-size: 12px;
	line-height: 20px;
	display: block;
}
.bnu_weixin{
	float: left;
	width: 88px;
}
.bnu_weixin img{
	margin-top:25px;
}
.bnu_weixin span{
	display: block;
	width: 100%;
	font-size: 14px;
	color:#000;
	word-wrap:break-word;
	margin-top: 5px;
}
.two_code{
	margin:28px 0 0 20px;
}
.two_code_01{
	float: left;
	margin: 33px 0 0 40px;
}

/*弹出页*/
.popup_page{
float: left;
background-color:#fff;
padding: 0 10px 6px;
}
.popup_bar{
float: left;
width: 100%;
}
.popup_hint_outside{
	float:left;
	width:100%;
	border-radius:10px;
	margin-top:39px;
	}
.popup_green_bg{
	background-color:#dbe2c0;
	}
.popup_green_bg .popup_hint_inside{
	background-color:#ecf2d3;
	}
.popup_green_bg .popup_statement{
	color:#9cae4e;
	}
.popup_red_bg{
	background-color:#efcbc3;
	}
.popup_red_bg .popup_hint_inside{
	background-color:#f7dfdb;
	}
.popup_red_bg .popup_statement{
	color:#c76c59;
	}
.popup_yellow_bg{
	background-color:#f6edbc;
	}
.popup_yellow_bg .popup_hint_inside{
	background-color:#fcf5d1;
	}
.popup_yellow_bg .popup_statement{
	color:#ae942c;
	}
.popup_hint_inside{
	float:left;
	margin-left:47px;
	border-radius:0 10px 10px 0;
	min-height:30px;
	
	}
.popup_hint_icon{
	float:left;

	background-repeat:no-repeat;
	background-position:0 0;
	width:81px;
	height:84px;
	margin:-39px 0 0 -57px;
	}
.popup_icon_01{
	background-image:url(../image/popup_icon_01.png);
	}
.popup_icon_02{
	background-image:url(../image/popup_icon_02.png);
	}
.popup_icon_03{
	background-image:url(../image/popup_icon_03.png);
	}
.popup_statement{
	float:left;
	width:167px;
	line-height:22px;
	font-size:14px;
	word-wrap:break-word;
	word-break:break-all;
	margin:10px 0 0 0;
	padding-bottom:11px;
	font-family:"microsoft yahei";
	}
/*-----V7按钮 开始-----*/ 
[class*="n_btn_0"]{ 
float: left; 
border-style: solid; 
border-width: 1px; 
cursor: pointer; 
overflow: visible;/*IE6/7*/ 
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15); 
} 
[class*="n_btn_0"]:active{ 
box-shadow: 0 2px 4px 0px rgba( 0, 0, 0, 0.15 ) inset; 
} 
.n_btn_01{ 
height: 30px; 
padding: 0 14px; 
border-radius: 6px; 
} 
.btn_style_01{ 
background-color: #39adae; 
border-color: #309591; 
color: #fff; 
} 
.notice_bar{
	float: left;
	height:40px;
	width: 100%;
}

/*媒体查询 开始*/
/*第三方登录 START*/
.new-login-way{
	width:calc(100% - 60px);
	float: left;
	margin:12px 20px 0 30px;
}
.new-login-way .login-way-title{
	width:100%;
	float: left;
	margin:9px 0px 9px;
}
.new-login-way .line{
	width:70px;
	height:1px;
	background-color:#edeeee;
	float: left;
	margin:12px 0 0;
	display:block;
}
.new-login-way .title{
	float: left;
	text-align:center;
	width:calc(100% - 140px);
	font-size:14px;
	color:#999;
	line-height:24px;
	height:24px;
	
	display:block;
}
.login-way-btn{
	width:100%;
}
.login-way-btn a{
	width:calc(50% - 10px);
	float:left;
	border:1px solid #dedede;
	border-radius:7px;
	height:36px;
	display:block;
	background-color:#fff;
	box-sizing:border-box;
	line-height:34px;
	text-align:left;
	color:#39427d;
	font-size:14px;
	padding:0 0 0 50px;
	text-decoration: none;
}
.login-way-btn a.wechat{background:#fff url(../image/wechat-icon.png) no-repeat 20px 9px;}
.login-way-btn a.qq-login{background:#fff url(../image/qq-icon.png) no-repeat 20px 9px;}
/*第三方登录 END*/
@media screen and (max-width:1365px){
	.header_02_space,.login_space_content,
	.apps_section_content,.link_bar_content,
	.footer_inside{width:calc(100% - 40px);}
}
@media screen and (max-width:1250px){
	.link_box_left{
		width:calc(100% - 390px);
	}

	.link_box_right{
		width:380px;
		background:url(../image/code_02.png) no-repeat 30px 6px;
	}
}
.login-way-btn a.wechat{background:#fff url(../image/wechat-icon.png) no-repeat 27px 9px;}
.login-way-btn a.qq-login{background:#fff url(../image/qq-icon.png) no-repeat 27px 9px;}