body {
  background: linear-gradient(to left, #9c88ff, #3cadeb);
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #000;
}
.a {
  position: relative;
  top: 100px;
  width: 1100px;
  height: 550px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .8);
  display: flex;
}
.b {
  width: 800px;
  height: 550px;
  background-image: url(./1.jpg);
  /* 图片自适应 */
  background-size: cover;
}
.c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 550px;
  background-color: #fff;
}
.d {
  width: 250px;
  height: 550px;
}
.d h1 {
  font: 900 30px '';
}
.e {
  width: 230px;
  margin: 20px 0;
  outline: none;
  border: 0;
  padding: 10px;
  border-bottom: 3px solid #000;
  font: 900 16px '';
}
.f { 
  float: right;
  margin: 10px 0;
}
.g {
  position: absolute;
  margin: 20px;
  bottom: 40px;
  display: block;
  width: 200px;
  height: 60px;
  line-height: 50px;
  border-radius: 30px;
  border: 0;
  font: 900 20px '';
  text-align: center;
  background: linear-gradient(to left, #9c88ff, #3cadeb);
}